In [ ]:
from google.colab import auth
auth.authenticate_user()

In [ ]:
import pandas as pd

In [ ]:
from google.cloud import bigquery

In [ ]:
client = bigquery.Client('top-moment-339420')

In [ ]:
dataset_ref = client.dataset('noaa_gsod', project='bigquery-public-data')

In [ ]:
dataset = client.get_dataset(dataset_ref)

In [ ]:
[x.table_id for x in client.list_tables(dataset)]

['gsod1929',
 'gsod1930',
 'gsod1931',
 'gsod1932',
 'gsod1933',
 'gsod1934',
 'gsod1935',
 'gsod1936',
 'gsod1937',
 'gsod1938',
 'gsod1939',
 'gsod1940',
 'gsod1941',
 'gsod1942',
 'gsod1943',
 'gsod1944',
 'gsod1945',
 'gsod1946',
 'gsod1947',
 'gsod1948',
 'gsod1949',
 'gsod1950',
 'gsod1951',
 'gsod1952',
 'gsod1953',
 'gsod1954',
 'gsod1955',
 'gsod1956',
 'gsod1957',
 'gsod1958',
 'gsod1959',
 'gsod1960',
 'gsod1961',
 'gsod1962',
 'gsod1963',
 'gsod1964',
 'gsod1965',
 'gsod1966',
 'gsod1967',
 'gsod1968',
 'gsod1969',
 'gsod1970',
 'gsod1971',
 'gsod1972',
 'gsod1973',
 'gsod1974',
 'gsod1975',
 'gsod1976',
 'gsod1977',
 'gsod1978',
 'gsod1979',
 'gsod1980',
 'gsod1981',
 'gsod1982',
 'gsod1983',
 'gsod1984',
 'gsod1985',
 'gsod1986',
 'gsod1987',
 'gsod1988',
 'gsod1989',
 'gsod1990',
 'gsod1991',
 'gsod1992',
 'gsod1993',
 'gsod1994',
 'gsod1995',
 'gsod1996',
 'gsod1997',
 'gsod1998',
 'gsod1999',
 'gsod2000',
 'gsod2001',
 'gsod2002',
 'gsod2003',
 'gsod2004',
 'gsod2005',
 'gsod2006',
 'gsod2007',
 'gsod2008',
 'gsod2009',
 'gsod2010',
 'gsod2011',
 'gsod2012',
 'gsod2013',
 'gsod2014',
 'gsod2015',
 'gsod2016',
 'gsod2017',
 'gsod2018',
 'gsod2019',
 'gsod2020',
 'gsod2021',
 'gsod2022',
 'stations']

In [ ]:
def estimate_gigabytes_scanned(query, bq_client):
    # see https://cloud.google.com/bigquery/docs/reference/rest/v2/jobs#configuration.dryRun
    my_job_config = bigquery.job.QueryJobConfig()
    my_job_config.dry_run = True
    my_job = bq_client.query(query, job_config=my_job_config)
    BYTES_PER_GB = 2**30
    return my_job.total_bytes_processed / BYTES_PER_GB

In [ ]:
avgTemps = '''
SELECT 
    stn, avg_temp, lat,lon, name
FROM(
    SELECT stn,AVG(data.temp) AS avg_temp
    FROM `bigquery-public-data.noaa_gsod.gsod2019` AS data
    GROUP BY stn) temp_
INNER JOIN 
    `bigquery-public-data.noaa_gsod.stations`AS stations
ON 
    temp_.stn = stations.usaf
'''

In [ ]:
estimate_gigabytes_scanned("SELECT mo, da, temp, stp, wdsp, mxpsd, gust, max, min, prcp, fog, rain_drizzle, snow_ice_pellets, hail, thunder, name, lat, lon FROM `bigquery-public-data.noaa_gsod.gsod2019` JOIN `bigquery-public-data.noaa_gsod.stations` ON `bigquery-public-data.noaa_gsod.gsod2019`.stn = `bigquery-public-data.noaa_gsod.stations`.usaf WHERE `bigquery-public-data.noaa_gsod.gsod2019`.stn IN ('150010', '150030', '150090', '150105', '150235', '150320', '150400', '150410', '150520', '150550', '150750', '150890', '151205', '151320', '151340', '151400', '151455', '151580', '151590', '151740', '152005', '152120', '152210', '152410', '152590', '152670', '152730', '152820', '152870', '152900', '152980', '152990', '153210', '153355', '153550', '153560', '153630', '153890', '154230', '154240', '154290', '154360', '154430', '154470', '154510', '154580', '154630', '154740', '154770', '154930', '150110', '150130', '150430', '150540', '150620', '150700', '150740', '150790', '150840', '150910', '150920', '150980', '151150', '151160', '151490', '151520', '151750', '151860', '151880', '151910', '152100', '152110', '152220', '152370', '152390', '152490', '152780', '152810', '152830', '152950', '153030', '153040', '153110', '153120', '153220', '153480', '153510', '153570', '153580', '153610', '153990', '154010', '154130', '154140', '154480', '154490', '154830', '154950', '154760', '150000', '150001', '150002', '150040', '150070', '150100', '150140', '150150', '150200', '150230', '150250', '150330', '150420', '150440', '150470', '150560', '150630', '150690', '150730', '150800', '150830', '150850', '150880', '150900', '150940', '150950', '150990', '151070', '151080', '151090', '151110', '151130', '151170', '151180', '151190', '151200', '151230', '151240', '151270', '151360', '151380', '151430', '151450', '151480', '151500', '151540', '151600', '151620', '151630', '151650', '151680', '151700', '151790', '151820', '151840', '151890', '151940', '151970', '151990', '152000', '152040', '152060', '152080', '152090', '152150', '152170', '152190', '152300', '152310', '152350', '152380', '152450', '152470', '152540', '152600', '152610', '152620', '152640', '152650', '152700', '152770', '152790', '152800', '152840', '152850', '152890', '152920', '152960', '152970', '153000', '153010', '153020', '153070', '153100', '153140', '153150', '153160', '153170', '153190', '153200', '153240', '153250', '153280', '153350', '153370', '153380', '153400', '153410', '153440', '153450', '153460', '153470', '153490', '153500', '153640', '153660', '153690', '153730', '153750', '153770', '153880', '153950', '154020', '154050', '154060', '154080', '154090', '154100', '154120', '154160', '154190', '154200', '154210', '154215', '154220', '154250', '154340', '154440', '154450', '154500', '154550', '154600', '154620', '154650', '154690', '154700', '154750', '154790', '154800', '154810', '154820', '154890', '154900', '154910', '154931', '154940', '154980', '153870', '153360', '154280', '153600', '154990', '153330')", client)

0.3487811693921685

In [ ]:
x = client.query("SELECT name, lat, lon, usaf FROM `bigquery-public-data.noaa_gsod.stations` WHERE country='RO'")

In [ ]:
x.result()

In [ ]:
stationList = ""

for row in x:
  stationList += "'" + row[3] + "', "

print(stationList)

'150010', '150030', '150090', '150105', '150235', '150320', '150400', '150410', '150520', '150550', '150750', '150890', '151205', '151320', '151340', '151400', '151455', '151580', '151590', '151740', '152005', '152120', '152210', '152410', '152590', '152670', '152730', '152820', '152870', '152900', '152980', '152990', '153210', '153355', '153550', '153560', '153630', '153890', '154230', '154240', '154290', '154360', '154430', '154470', '154510', '154580', '154630', '154740', '154770', '154930', '150110', '150130', '150430', '150540', '150620', '150700', '150740', '150790', '150840', '150910', '150920', '150980', '151150', '151160', '151490', '151520', '151750', '151860', '151880', '151910', '152100', '152110', '152220', '152370', '152390', '152490', '152780', '152810', '152830', '152950', '153030', '153040', '153110', '153120', '153220', '153480', '153510', '153570', '153580', '153610', '153990', '154010', '154130', '154140', '154480', '154490', '154830', '154950', '154760', '150000', '150001', '150002', '150040', '150070', '150100', '150140', '150150', '150200', '150230', '150250', '150330', '150420', '150440', '150470', '150560', '150630', '150690', '150730', '150800', '150830', '150850', '150880', '150900', '150940', '150950', '150990', '151070', '151080', '151090', '151110', '151130', '151170', '151180', '151190', '151200', '151230', '151240', '151270', '151360', '151380', '151430', '151450', '151480', '151500', '151540', '151600', '151620', '151630', '151650', '151680', '151700', '151790', '151820', '151840', '151890', '151940', '151970', '151990', '152000', '152040', '152060', '152080', '152090', '152150', '152170', '152190', '152300', '152310', '152350', '152380', '152450', '152470', '152540', '152600', '152610', '152620', '152640', '152650', '152700', '152770', '152790', '152800', '152840', '152850', '152890', '152920', '152960', '152970', '153000', '153010', '153020', '153070', '153100', '153140', '153150', '153160', '153170', '153190', '153200', '153240', '153250', '153280', '153350', '153370', '153380', '153400', '153410', '153440', '153450', '153460', '153470', '153490', '153500', '153640', '153660', '153690', '153730', '153750', '153770', '153880', '153950', '154020', '154050', '154060', '154080', '154090', '154100', '154120', '154160', '154190', '154200', '154210', '154215', '154220', '154250', '154340', '154440', '154450', '154500', '154550', '154600', '154620', '154650', '154690', '154700', '154750', '154790', '154800', '154810', '154820', '154890', '154900', '154910', '154931', '154940', '154980', '153870', '153360', '154280', '153600', '154990', '153330',

In [ ]:
y00 = client.query("SELECT year, mo, da, temp, stp, wdsp, mxpsd, gust, max, min, prcp, fog, rain_drizzle, snow_ice_pellets, hail, thunder, name, lat, lon FROM `bigquery-public-data.noaa_gsod.gsod2017` JOIN `bigquery-public-data.noaa_gsod.stations` ON `bigquery-public-data.noaa_gsod.gsod2017`.stn = `bigquery-public-data.noaa_gsod.stations`.usaf WHERE `bigquery-public-data.noaa_gsod.gsod2017`.stn IN ('150010', '150030', '150090', '150105', '150235', '150320', '150400', '150410', '150520', '150550', '150750', '150890', '151205', '151320', '151340', '151400', '151455', '151580', '151590', '151740', '152005', '152120', '152210', '152410', '152590', '152670', '152730', '152820', '152870', '152900', '152980', '152990', '153210', '153355', '153550', '153560', '153630', '153890', '154230', '154240', '154290', '154360', '154430', '154470', '154510', '154580', '154630', '154740', '154770', '154930', '150110', '150130', '150430', '150540', '150620', '150700', '150740', '150790', '150840', '150910', '150920', '150980', '151150', '151160', '151490', '151520', '151750', '151860', '151880', '151910', '152100', '152110', '152220', '152370', '152390', '152490', '152780', '152810', '152830', '152950', '153030', '153040', '153110', '153120', '153220', '153480', '153510', '153570', '153580', '153610', '153990', '154010', '154130', '154140', '154480', '154490', '154830', '154950', '154760', '150000', '150001', '150002', '150040', '150070', '150100', '150140', '150150', '150200', '150230', '150250', '150330', '150420', '150440', '150470', '150560', '150630', '150690', '150730', '150800', '150830', '150850', '150880', '150900', '150940', '150950', '150990', '151070', '151080', '151090', '151110', '151130', '151170', '151180', '151190', '151200', '151230', '151240', '151270', '151360', '151380', '151430', '151450', '151480', '151500', '151540', '151600', '151620', '151630', '151650', '151680', '151700', '151790', '151820', '151840', '151890', '151940', '151970', '151990', '152000', '152040', '152060', '152080', '152090', '152150', '152170', '152190', '152300', '152310', '152350', '152380', '152450', '152470', '152540', '152600', '152610', '152620', '152640', '152650', '152700', '152770', '152790', '152800', '152840', '152850', '152890', '152920', '152960', '152970', '153000', '153010', '153020', '153070', '153100', '153140', '153150', '153160', '153170', '153190', '153200', '153240', '153250', '153280', '153350', '153370', '153380', '153400', '153410', '153440', '153450', '153460', '153470', '153490', '153500', '153640', '153660', '153690', '153730', '153750', '153770', '153880', '153950', '154020', '154050', '154060', '154080', '154090', '154100', '154120', '154160', '154190', '154200', '154210', '154215', '154220', '154250', '154340', '154440', '154450', '154500', '154550', '154600', '154620', '154650', '154690', '154700', '154750', '154790', '154800', '154810', '154820', '154890', '154900', '154910', '154931', '154940', '154980', '153870', '153360', '154280', '153600', '154990', '153330')")

In [ ]:
y0 = y = client.query("SELECT year, mo, da, temp, stp, wdsp, mxpsd, gust, max, min, prcp, fog, rain_drizzle, snow_ice_pellets, hail, thunder, name, lat, lon FROM `bigquery-public-data.noaa_gsod.gsod2018` JOIN `bigquery-public-data.noaa_gsod.stations` ON `bigquery-public-data.noaa_gsod.gsod2018`.stn = `bigquery-public-data.noaa_gsod.stations`.usaf WHERE `bigquery-public-data.noaa_gsod.gsod2018`.stn IN ('150010', '150030', '150090', '150105', '150235', '150320', '150400', '150410', '150520', '150550', '150750', '150890', '151205', '151320', '151340', '151400', '151455', '151580', '151590', '151740', '152005', '152120', '152210', '152410', '152590', '152670', '152730', '152820', '152870', '152900', '152980', '152990', '153210', '153355', '153550', '153560', '153630', '153890', '154230', '154240', '154290', '154360', '154430', '154470', '154510', '154580', '154630', '154740', '154770', '154930', '150110', '150130', '150430', '150540', '150620', '150700', '150740', '150790', '150840', '150910', '150920', '150980', '151150', '151160', '151490', '151520', '151750', '151860', '151880', '151910', '152100', '152110', '152220', '152370', '152390', '152490', '152780', '152810', '152830', '152950', '153030', '153040', '153110', '153120', '153220', '153480', '153510', '153570', '153580', '153610', '153990', '154010', '154130', '154140', '154480', '154490', '154830', '154950', '154760', '150000', '150001', '150002', '150040', '150070', '150100', '150140', '150150', '150200', '150230', '150250', '150330', '150420', '150440', '150470', '150560', '150630', '150690', '150730', '150800', '150830', '150850', '150880', '150900', '150940', '150950', '150990', '151070', '151080', '151090', '151110', '151130', '151170', '151180', '151190', '151200', '151230', '151240', '151270', '151360', '151380', '151430', '151450', '151480', '151500', '151540', '151600', '151620', '151630', '151650', '151680', '151700', '151790', '151820', '151840', '151890', '151940', '151970', '151990', '152000', '152040', '152060', '152080', '152090', '152150', '152170', '152190', '152300', '152310', '152350', '152380', '152450', '152470', '152540', '152600', '152610', '152620', '152640', '152650', '152700', '152770', '152790', '152800', '152840', '152850', '152890', '152920', '152960', '152970', '153000', '153010', '153020', '153070', '153100', '153140', '153150', '153160', '153170', '153190', '153200', '153240', '153250', '153280', '153350', '153370', '153380', '153400', '153410', '153440', '153450', '153460', '153470', '153490', '153500', '153640', '153660', '153690', '153730', '153750', '153770', '153880', '153950', '154020', '154050', '154060', '154080', '154090', '154100', '154120', '154160', '154190', '154200', '154210', '154215', '154220', '154250', '154340', '154440', '154450', '154500', '154550', '154600', '154620', '154650', '154690', '154700', '154750', '154790', '154800', '154810', '154820', '154890', '154900', '154910', '154931', '154940', '154980', '153870', '153360', '154280', '153600', '154990', '153330')")

In [ ]:
y = client.query("SELECT year, mo, da, temp, stp, wdsp, mxpsd, gust, max, min, prcp, fog, rain_drizzle, snow_ice_pellets, hail, thunder, name, lat, lon FROM `bigquery-public-data.noaa_gsod.gsod2019` JOIN `bigquery-public-data.noaa_gsod.stations` ON `bigquery-public-data.noaa_gsod.gsod2019`.stn = `bigquery-public-data.noaa_gsod.stations`.usaf WHERE `bigquery-public-data.noaa_gsod.gsod2019`.stn IN ('150010', '150030', '150090', '150105', '150235', '150320', '150400', '150410', '150520', '150550', '150750', '150890', '151205', '151320', '151340', '151400', '151455', '151580', '151590', '151740', '152005', '152120', '152210', '152410', '152590', '152670', '152730', '152820', '152870', '152900', '152980', '152990', '153210', '153355', '153550', '153560', '153630', '153890', '154230', '154240', '154290', '154360', '154430', '154470', '154510', '154580', '154630', '154740', '154770', '154930', '150110', '150130', '150430', '150540', '150620', '150700', '150740', '150790', '150840', '150910', '150920', '150980', '151150', '151160', '151490', '151520', '151750', '151860', '151880', '151910', '152100', '152110', '152220', '152370', '152390', '152490', '152780', '152810', '152830', '152950', '153030', '153040', '153110', '153120', '153220', '153480', '153510', '153570', '153580', '153610', '153990', '154010', '154130', '154140', '154480', '154490', '154830', '154950', '154760', '150000', '150001', '150002', '150040', '150070', '150100', '150140', '150150', '150200', '150230', '150250', '150330', '150420', '150440', '150470', '150560', '150630', '150690', '150730', '150800', '150830', '150850', '150880', '150900', '150940', '150950', '150990', '151070', '151080', '151090', '151110', '151130', '151170', '151180', '151190', '151200', '151230', '151240', '151270', '151360', '151380', '151430', '151450', '151480', '151500', '151540', '151600', '151620', '151630', '151650', '151680', '151700', '151790', '151820', '151840', '151890', '151940', '151970', '151990', '152000', '152040', '152060', '152080', '152090', '152150', '152170', '152190', '152300', '152310', '152350', '152380', '152450', '152470', '152540', '152600', '152610', '152620', '152640', '152650', '152700', '152770', '152790', '152800', '152840', '152850', '152890', '152920', '152960', '152970', '153000', '153010', '153020', '153070', '153100', '153140', '153150', '153160', '153170', '153190', '153200', '153240', '153250', '153280', '153350', '153370', '153380', '153400', '153410', '153440', '153450', '153460', '153470', '153490', '153500', '153640', '153660', '153690', '153730', '153750', '153770', '153880', '153950', '154020', '154050', '154060', '154080', '154090', '154100', '154120', '154160', '154190', '154200', '154210', '154215', '154220', '154250', '154340', '154440', '154450', '154500', '154550', '154600', '154620', '154650', '154690', '154700', '154750', '154790', '154800', '154810', '154820', '154890', '154900', '154910', '154931', '154940', '154980', '153870', '153360', '154280', '153600', '154990', '153330')")

In [ ]:
yy = client.query("SELECT year, mo, da, temp, stp, wdsp, mxpsd, gust, max, min, prcp, fog, rain_drizzle, snow_ice_pellets, hail, thunder, name, lat, lon FROM `bigquery-public-data.noaa_gsod.gsod2020` JOIN `bigquery-public-data.noaa_gsod.stations` ON `bigquery-public-data.noaa_gsod.gsod2020`.stn = `bigquery-public-data.noaa_gsod.stations`.usaf WHERE `bigquery-public-data.noaa_gsod.gsod2020`.stn IN ('150010', '150030', '150090', '150105', '150235', '150320', '150400', '150410', '150520', '150550', '150750', '150890', '151205', '151320', '151340', '151400', '151455', '151580', '151590', '151740', '152005', '152120', '152210', '152410', '152590', '152670', '152730', '152820', '152870', '152900', '152980', '152990', '153210', '153355', '153550', '153560', '153630', '153890', '154230', '154240', '154290', '154360', '154430', '154470', '154510', '154580', '154630', '154740', '154770', '154930', '150110', '150130', '150430', '150540', '150620', '150700', '150740', '150790', '150840', '150910', '150920', '150980', '151150', '151160', '151490', '151520', '151750', '151860', '151880', '151910', '152100', '152110', '152220', '152370', '152390', '152490', '152780', '152810', '152830', '152950', '153030', '153040', '153110', '153120', '153220', '153480', '153510', '153570', '153580', '153610', '153990', '154010', '154130', '154140', '154480', '154490', '154830', '154950', '154760', '150000', '150001', '150002', '150040', '150070', '150100', '150140', '150150', '150200', '150230', '150250', '150330', '150420', '150440', '150470', '150560', '150630', '150690', '150730', '150800', '150830', '150850', '150880', '150900', '150940', '150950', '150990', '151070', '151080', '151090', '151110', '151130', '151170', '151180', '151190', '151200', '151230', '151240', '151270', '151360', '151380', '151430', '151450', '151480', '151500', '151540', '151600', '151620', '151630', '151650', '151680', '151700', '151790', '151820', '151840', '151890', '151940', '151970', '151990', '152000', '152040', '152060', '152080', '152090', '152150', '152170', '152190', '152300', '152310', '152350', '152380', '152450', '152470', '152540', '152600', '152610', '152620', '152640', '152650', '152700', '152770', '152790', '152800', '152840', '152850', '152890', '152920', '152960', '152970', '153000', '153010', '153020', '153070', '153100', '153140', '153150', '153160', '153170', '153190', '153200', '153240', '153250', '153280', '153350', '153370', '153380', '153400', '153410', '153440', '153450', '153460', '153470', '153490', '153500', '153640', '153660', '153690', '153730', '153750', '153770', '153880', '153950', '154020', '154050', '154060', '154080', '154090', '154100', '154120', '154160', '154190', '154200', '154210', '154215', '154220', '154250', '154340', '154440', '154450', '154500', '154550', '154600', '154620', '154650', '154690', '154700', '154750', '154790', '154800', '154810', '154820', '154890', '154900', '154910', '154931', '154940', '154980', '153870', '153360', '154280', '153600', '154990', '153330')")

In [ ]:
yyy = yy = client.query("SELECT year, mo, da, temp, stp, wdsp, mxpsd, gust, max, min, prcp, fog, rain_drizzle, snow_ice_pellets, hail, thunder, name, lat, lon FROM `bigquery-public-data.noaa_gsod.gsod2021` JOIN `bigquery-public-data.noaa_gsod.stations` ON `bigquery-public-data.noaa_gsod.gsod2021`.stn = `bigquery-public-data.noaa_gsod.stations`.usaf WHERE `bigquery-public-data.noaa_gsod.gsod2021`.stn IN ('150010', '150030', '150090', '150105', '150235', '150320', '150400', '150410', '150520', '150550', '150750', '150890', '151205', '151320', '151340', '151400', '151455', '151580', '151590', '151740', '152005', '152120', '152210', '152410', '152590', '152670', '152730', '152820', '152870', '152900', '152980', '152990', '153210', '153355', '153550', '153560', '153630', '153890', '154230', '154240', '154290', '154360', '154430', '154470', '154510', '154580', '154630', '154740', '154770', '154930', '150110', '150130', '150430', '150540', '150620', '150700', '150740', '150790', '150840', '150910', '150920', '150980', '151150', '151160', '151490', '151520', '151750', '151860', '151880', '151910', '152100', '152110', '152220', '152370', '152390', '152490', '152780', '152810', '152830', '152950', '153030', '153040', '153110', '153120', '153220', '153480', '153510', '153570', '153580', '153610', '153990', '154010', '154130', '154140', '154480', '154490', '154830', '154950', '154760', '150000', '150001', '150002', '150040', '150070', '150100', '150140', '150150', '150200', '150230', '150250', '150330', '150420', '150440', '150470', '150560', '150630', '150690', '150730', '150800', '150830', '150850', '150880', '150900', '150940', '150950', '150990', '151070', '151080', '151090', '151110', '151130', '151170', '151180', '151190', '151200', '151230', '151240', '151270', '151360', '151380', '151430', '151450', '151480', '151500', '151540', '151600', '151620', '151630', '151650', '151680', '151700', '151790', '151820', '151840', '151890', '151940', '151970', '151990', '152000', '152040', '152060', '152080', '152090', '152150', '152170', '152190', '152300', '152310', '152350', '152380', '152450', '152470', '152540', '152600', '152610', '152620', '152640', '152650', '152700', '152770', '152790', '152800', '152840', '152850', '152890', '152920', '152960', '152970', '153000', '153010', '153020', '153070', '153100', '153140', '153150', '153160', '153170', '153190', '153200', '153240', '153250', '153280', '153350', '153370', '153380', '153400', '153410', '153440', '153450', '153460', '153470', '153490', '153500', '153640', '153660', '153690', '153730', '153750', '153770', '153880', '153950', '154020', '154050', '154060', '154080', '154090', '154100', '154120', '154160', '154190', '154200', '154210', '154215', '154220', '154250', '154340', '154440', '154450', '154500', '154550', '154600', '154620', '154650', '154690', '154700', '154750', '154790', '154800', '154810', '154820', '154890', '154900', '154910', '154931', '154940', '154980', '153870', '153360', '154280', '153600', '154990', '153330')")

In [ ]:
s = 0
for row in y.result():
  s += 1

print(s)

59347

In [ ]:
df = pd.DataFrame(columns=['year', 'mo', 'da', 'temp', 'stp', 'wdsp', 'mxpsd', 'gust', 'max', 'min', 'prcp', 'fog', 'rain_drizzle', 'snow_ice_pellets', 'hail', 'thunder', 'name', 'lat', 'lon'])

In [ ]:
len(df.columns)

19

In [ ]:
df00 = y00.to_dataframe()

In [ ]:
df0 = y0.to_dataframe()

In [ ]:
df = y.to_dataframe()

In [ ]:
df2 = yy.to_dataframe()

In [ ]:
df3 = yyy.to_dataframe()

In [ ]:
big_df = pd.concat([df00, df0, df, df2, df3])

In [ ]:
big_df

       year  mo  da  ...                           name     lat     lon
0      2017  01  16  ...        BORCEA FETESTI AIR BASE  44.383  27.717
1      2017  09  29  ...        BORCEA FETESTI AIR BASE  44.383  27.717
2      2017  01  03  ...        BORCEA FETESTI AIR BASE  44.383  27.717
3      2017  12  21  ...        BORCEA FETESTI AIR BASE  44.383  27.717
4      2017  03  08  ...        BORCEA FETESTI AIR BASE  44.383  27.717
...     ...  ..  ..  ...                            ...     ...     ...
59150  2021  03  06  ...  VLADEASA 1800                  46.767  22.800
59151  2021  04  15  ...  VLADEASA 1800                  46.767  22.800
59152  2021  05  25  ...  VLADEASA 1800                  46.767  22.800
59153  2021  09  09  ...  VLADEASA 1800                  46.767  22.800
59154  2021  10  30  ...  VLADEASA 1800                  46.767  22.800

[294913 rows x 19 columns]

In [ ]:
big_df.to_csv("./5_year_weather_data.csv", index=False)

In [ ]:
df[:20000]

       year  mo  da  temp  ...  thunder                     name     lat     lon
0      2019  11  26  39.7  ...        0  BORCEA FETESTI AIR BASE  44.383  27.717
1      2019  01  10  32.0  ...        0  BORCEA FETESTI AIR BASE  44.383  27.717
2      2019  12  19  46.9  ...        0  BORCEA FETESTI AIR BASE  44.383  27.717
3      2019  08  23  79.7  ...        0  BORCEA FETESTI AIR BASE  44.383  27.717
4      2019  02  08  35.2  ...        0  BORCEA FETESTI AIR BASE  44.383  27.717
...     ...  ..  ..   ...  ...      ...                      ...     ...     ...
19995  2019  01  25  25.6  ...        0                  FOCSANI  45.700  27.200
19996  2019  04  06  48.4  ...        0                  FOCSANI  45.700  27.200
19997  2019  04  26  58.4  ...        0                  FOCSANI  45.700  27.200
19998  2019  05  14  58.5  ...        0                  FOCSANI  45.700  27.200
19999  2019  05  28  68.9  ...        0                  FOCSANI  45.700  27.200

[20000 rows x 19 columns]

In [ ]:
df.to_csv("./weather_data.csv", index=False)

In [ ]:
for row in y.result():
  df = pd.concat([pd.DataFrame([[int(row[0]), int(row[1]), row[2], row[3], row[4], row[5], float(row[6]), float(row[7]), row[8], row[9], int(row[10]), int(row[11]), int(row[12]), int(row[13]), int(row[14]), row[15], row[16], row[17], row[18]]], columns=df.columns), df], ignore_index=True)

KeyboardInterrupt: ignored

In [ ]:
df

Empty DataFrame
Columns: [year, mo, da, temp, stp, wdsp, mxpsd, gust, max, min, prcp, fog, rain_drizzle, snow_ice_pellets, hail, thunder, name, lat, lon]
Index: []

In [ ]:
for row in y.result():
  print(row[:])
  break

('11', '26', 39.7, 999.9, '13.5', '15.9', 999.9, 41.0, 39.2, 0.0, '0', '0', '0', '0', '0', 'BORCEA FETESTI AIR BASE', 44.383, 27.717)

In [ ]:
for row in x.result():
  print(row)

Row(('AVRAMENI', 48.017, 26.95, '150010'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('BOGUS ROMANIAN', 52.233, 0.467, '150030'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('DOROHOI', 47.967, 26.4, '150090'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('BAIA MARE/MAGHERUSI', 47.667, 23.667, '150105'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('SUCEAVA/SALCEA', 47.683, 26.35, '150235'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('RODNEI MOUNTAIN RNG', 47.583, 24.667, '150320'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('CIMPULUNG MOLDOVENE', 47.533, 25.567, '150400'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('RAUSENI', 47.567, 27.2, '150410'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('RARAU', 47.45, 25.567, '150520'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('RADASENI', 47.467, 26.25, '150550'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('PODUL ILOAIEI', 47.217, 27.267, '150750'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('CEAHLAU', 47.05, 25.967, '150890'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('CLUJ-NAPOCA/SOMESEN', 46.783, 23.567, '151205'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('PLOPANA', 46.683, 27.233, '151320'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('HUSI', 46.683, 28.067, '151340'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('STEIU', 46.533, 22.45, '151400'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('TIGU MURES/VIDRASA', 46.533, 24.533, '151455'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('ZARAND', 46.4, 21.65, '151580'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('MOCREA', 46.383, 21.817, '151590'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('ONCESTI', 46.467, 27.25, '151740'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('ARAD', 46.167, 21.317, '152005'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('HOMOROD', 46.05, 25.267, '152120'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('BALINTESTI', 46.033, 27.917, '152210'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('TULNICI', 45.917, 26.667, '152410'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('POSTAVARU', 45.567, 25.55, '152590'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('RAUTI', 45.667, 20.933, '152670'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('PICLISA', 45.567, 22.883, '152730'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('POIANA BRASOV', 45.6, 25.55, '152820'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('MAICANESTI', 45.5, 27.5, '152870'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('BOGUS ROMANIAN', 0.0, 0.0, '152900'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('COZIA PASS (AUT)             ', 45.25, 24.25, '152980'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('RUCAR', 45.4, 25.167, '152990'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('PARING (AUT)                 ', 45.35, 23.517, '153210'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('TULCEA/CATALOI', 45.067, 28.717, '153355'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('FAUREI/=694514 KQYB          ', 45.067, 27.233, '153550'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('VIZIRU', 45.017, 27.7, '153560'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('CARBUNARI', 44.833, 21.75, '153630'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('BERZASCA', 44.65, 21.95, '153890'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('DILGA', 44.45, 26.967, '154230'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('FUNDULEA', 44.467, 26.517, '154240'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('SARULESTI', 44.417, 26.65, '154290'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('BOGUS ROMANIAN', 0.0, 0.0, '154360'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('DOR MARUNT', 44.45, 26.917, '154430'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('SARBATO', 44.283, 23.633, '154470'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('CRAIOVA', 44.3, 23.8, '154510'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('MINASTIREA', 44.25, 26.85, '154580'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('BOGUS ROMANIAN', 0.0, 0.0, '154630'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('BOGUS ROMANIAN', 0.0, 0.0, '154740'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('PLATFORMA GLORIA', 44.517, 29.567, '154770'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('TUZLA', 44.0, 28.667, '154930'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('BOGUS ROMANIAN', None, None, '150110'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('BOGUS ROMANIAN', None, None, '150130'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('BOGUS ROMANIAN', None, None, '150430'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('BOGUS ROMANIAN', None, None, '150540'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('BOGUS ROMANIAN', None, None, '150620'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('BOGUS ROMANIAN', None, None, '150700'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('BOGUS ROMANIAN', None, None, '150740'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('BOGUS ROMANIAN', None, None, '150790'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('BOGUS ROMANIAN', None, None, '150840'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('BOGUS ROMANIAN', None, None, '150910'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('BOGUS ROMANIAN', None, None, '150920'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('BOGUS ROMANIAN', None, None, '150980'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('BOGUS ROMANIAN', None, None, '151150'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('BOGUS ROMANIAN', None, None, '151160'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('BOGUS ROMANIAN', None, None, '151490'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('BOGUS ROMANIAN', None, None, '151520'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('BOGUS ROMANIAN', None, None, '151750'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('BOGUS ROMANIAN', None, None, '151860'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('BOGUS ROMANIAN', None, None, '151880'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('BOGUS ROMANIAN', None, None, '151910'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('BOGUS ROMANIAN', None, None, '152100'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('BOGUS ROMANIAN', None, None, '152110'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('BOGUS ROMANIAN', None, None, '152220'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('BOGUS ROMANIAN', None, None, '152370'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('BOGUS ROMANIAN', None, None, '152390'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('BOGUS ROMANIAN', None, None, '152490'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('BOGUS ROMANIAN', None, None, '152780'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('BOGUS ROMANIAN', None, None, '152810'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('BOGUS ROMANIAN', None, None, '152830'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('BOGUS ROMANIAN', None, None, '152950'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('BOGUS ROMANIAN', None, None, '153030'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('BOGUS ROMANIAN', None, None, '153040'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('BOGUS ROMANIAN', None, None, '153110'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('BOGUS ROMANIAN', None, None, '153120'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('BOGUS ROMANIAN', None, None, '153220'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('BOGUS ROMANIAN', None, None, '153480'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('BOGUS ROMANIAN', None, None, '153510'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('BOGUS ROMANIAN', None, None, '153570'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('BOGUS ROMANIAN', None, None, '153580'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('BOGUS ROMANIAN', None, None, '153610'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('BOGUS ROMANIAN', None, None, '153990'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('BOGUS ROMANIAN', None, None, '154010'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('BOGUS ROMANIAN', None, None, '154130'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('BOGUS ROMANIAN', None, None, '154140'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('BOGUS ROMANIAN', 0.0, 0.0, '154480'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('BOGUS ROMANIAN', None, None, '154490'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('BOGUS ROMANIAN', None, None, '154830'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('BOGUS ROMANIAN', None, None, '154950'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('GREACA', 44.117, 26.333, '154760'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('DARABANI', 48.2, 26.583, '150000'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('BOBOC AIR BASE', 45.21, 26.97, '150001'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('BORCEA FETESTI AIR BASE', 44.383, 27.717, '150002'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('SIGHETUL MARMATIEI', 47.933, 23.9, '150040'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('RADAUTI', 47.833, 25.9, '150070'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('SATU MARE', 47.703, 22.886, '150100'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('TAUTII MAGHERAUS', 47.658, 23.47, '150140'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('OCNA SUGATAG', 47.733, 23.95, '150150'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('BOTOSANI', 47.733, 26.65, '150200'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('STEFAN CEL MARE', 47.688, 26.354, '150230'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('STANCA STEFANESTI', 47.833, 27.217, '150250'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('IEZER', 47.6, 24.65, '150330'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('SACUIENI', 47.35, 22.1, '150420'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('SUPURU DE JOS', 47.45, 22.783, '150440'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('TARGU LAPUS', 47.433, 23.867, '150470'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('COTNARI', 47.367, 26.933, '150560'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('ZALAU', 47.183, 23.05, '150630'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('POIANA STAMPEI', 47.317, 25.133, '150690'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('TARGU NEAMT', 47.217, 26.383, '150730'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('ORADEA', 47.025, 21.903, '150800'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('DEJ', 47.133, 23.9, '150830'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('BISTRITA', 47.15, 24.517, '150850'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('CALIMANI RETITIS', 47.1, 25.25, '150880'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('IASI', 47.178, 27.621, '150900'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('BARNOVA', 47.017, 27.583, '150940'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('BOROD', 46.983, 22.6, '150950'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('HUEDIN', 46.85, 23.033, '150990'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('TOPLITA', 46.933, 25.367, '151070'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('CEAHLAU TOACA', 46.983, 25.95, '151080'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('PIATRA NEAMT', 46.917, 26.383, '151090'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('ROMAN', 46.967, 26.917, '151110'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('NEGRESTI', 46.85, 27.45, '151130'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('HOLOD', 46.783, 22.117, '151170'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('STANA DE VALE', 46.683, 22.617, '151180'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('VLADEASA 1800                ', 46.767, 22.8, '151190'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('CLUJ NAPOCA', 46.785, 23.686, '151200'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('SARMASU', 46.75, 24.167, '151230'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('BATOS', 46.883, 24.65, '151240'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('JOSENI', 46.7, 25.517, '151270'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('CHISINEU-CRIS', 46.533, 21.533, '151360'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('DUMBRAVITA DE CODRU', 46.633, 22.167, '151380'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('TURDA', 46.583, 23.783, '151430'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('VIDRASAU', 46.468, 24.413, '151450'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('BUCIN', 46.65, 25.3, '151480'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('BACAU', 46.522, 26.91, '151500'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('VASLUI', 46.65, 27.717, '151540'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('STEI', 46.533, 22.467, '151600'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('CAMPENI', 46.367, 23.05, '151620'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('BAISOARA', 46.533, 23.317, '151630'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('TARNAVENI', 46.367, 24.233, '151650'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('ODORHEIUL SECUIESC', 46.3, 25.3, '151680'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('MIERCUREA CIUC', 46.367, 25.733, '151700'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('SIRIA', 46.25, 21.65, '151790'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('GURAHONT', 46.267, 22.333, '151820'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('ROSIA MONTANA', 46.317, 23.133, '151840'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('DUMBRAVENI', 46.233, 24.6, '151890'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('TARGU OCNA', 46.267, 26.65, '151940'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('BARLAD', 46.233, 27.65, '151970'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('SANNICOLAU MARE', 46.067, 20.6, '151990'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('ARAD', 46.177, 21.262, '152000'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('VARADIA DE MURES', 46.017, 22.15, '152040'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('TEBEA', 46.167, 22.726, '152060'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('ALBA IULIA', 46.067, 23.567, '152080'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('BLAJ', 46.183, 23.933, '152090'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('BARAOLT', 46.083, 25.6, '152150'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('TARGU SECUIESC', 46.0, 26.133, '152170'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('ADJUD', 46.1, 27.167, '152190'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('DEVA', 45.867, 22.9, '152300'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('SEBES ALBA', 45.967, 23.533, '152310'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('FAGARAS', 45.833, 24.933, '152350'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('SFANTU GHEORGHE GOVASNA', 45.867, 25.817, '152380'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('JIMBOLIA', 45.783, 20.7, '152450'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('TRAIAN VUIA', 45.81, 21.338, '152470'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('PALTINIS SIBIU', 45.65, 23.933, '152540'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('SIBIU', 45.786, 24.091, '152600'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('INTORSURA BUZAULUI', 45.683, 26.017, '152610'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('LACAUTI', 45.817, 26.383, '152620'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('FOCSANI', 45.7, 27.2, '152640'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('TECUCI', 45.85, 27.417, '152650'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('LUGOJ', 45.683, 21.933, '152700'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('BOITA', 45.65, 24.267, '152770'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('BALEA LAC', 45.6, 24.617, '152790'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('VARFU OMU', 45.45, 25.45, '152800'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('PENTELEU', 45.6, 26.417, '152840'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('BISOCA', 45.55, 26.7, '152850'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('BANLOC', 45.383, 21.133, '152890'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('CARANSEBES', 45.42, 22.253, '152920'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('PETROSANI', 45.417, 23.383, '152960'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('OBARSIA LOTRULUI', 45.433, 23.633, '152970'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('BRASOV-GHIMBAV', 45.7, 25.533, '153000'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('FUNDATA', 45.433, 25.267, '153010'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('PREDEAL', 45.5, 25.583, '153020'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('RAMNICU SARAT', 45.383, 27.05, '153070'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('GALATI', 45.483, 28.033, '153100'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('RESITA', 45.3, 21.917, '153140'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('SEMENIC', 45.183, 22.05, '153150'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('CUNTU', 45.3, 22.517, '153160'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('TARCU', 45.283, 22.533, '153170'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('VOINEASA', 45.417, 23.967, '153190'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('PARANG', 45.383, 23.467, '153200'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('CAMPULUNG MUSCEL', 45.283, 25.033, '153240'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('SINAIA-1500                  ', 45.35, 25.5, '153250'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('PATARLAGELE', 45.317, 26.367, '153280'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('CATALOI', 45.062, 28.714, '153350'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('MAHMUDIA', 45.083, 29.067, '153370'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('ORAVITA', 45.033, 21.683, '153380'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('TARGU JIU', 45.033, 23.267, '153400'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('APA NEAGRA', 45.0, 22.867, '153410'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('POLOVRAGI', 45.183, 23.817, '153440'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('MORARESTI', 45.0, 24.533, '153450'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('RAMNICU VALCEA', 45.1, 24.367, '153460'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('CURTEA DE ARGES', 45.167, 24.667, '153470'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('CAMPINA', 45.144, 25.75, '153490'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('BUZAU', 45.15, 26.817, '153500'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('BOZOVICI', 44.917, 22.0, '153640'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('BAILE HERCULANE', 44.883, 22.417, '153660'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('TARGU LOGRESTI', 44.883, 23.7, '153690'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('PITESTI', 44.85, 24.817, '153730'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('TARGOVISTE', 44.933, 25.433, '153750'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('PLOIESTI', 44.95, 26.0, '153770'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('MOLDOVA VECHE', 44.717, 21.633, '153880'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('DRAGASANI', 44.667, 24.233, '153950'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('URZICENI', 44.717, 26.65, '154020'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('GRIVITA', 44.75, 27.3, '154050'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})
Row(('HARSOVA', 44.683, 27.95, '154060'), {'name': 0, 'lat': 1, 'lon': 2, 'usaf': 3})